[Unit]
Description=My Flask Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/usr/bin/env FLASK_APP=application2.py flask run --host=0.0.0.0 --port=8080
Restart=always

[Install]
WantedBy=multi-user.target



